name: Deploy

on:
  push:
    branches:
      - master
      
  schedule:
    - cron: '0 * * * *'
      
jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - uses: actions/checkout@master
      - name: Build site
        run: 'jekyll build'
      - name: Publish
        uses: cloudflare/wrangler-action@1.2.0
        env:
          USER: root
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          environment: 'production'
